.container {
    border: 1px solid #c4c4c4;
    width: 336px;
    height: 336px; 
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.cell {
    display: grid;
    width: 100px;
    height: 100px;
    background-color: #c4c4c4;
    margin: 2px;
    padding: 4px;
    font-size: 42px;
}

#a1:hover, #a2:hover, #a3:hover, #a4:hover, #a5:hover, #a6:hover, #a7:hover, #a8:hover, #a9:hover {
    background-color: #2d4558;;
}

.newgame {
    width: 200px;
    height: 60px;
    background-color: #2d4558;
    border-radius: 2px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.1em;
}

